@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.App {
  text-align: center;
  font-family: "Roboto", sans-serif;

}

*{
  margin: 0;
  padding: 0;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}




.selected-movies {
  width: 30%;

}

.search-bar{
  width: 30%;
  margin-bottom: 250px;
  /* margin-bottom: 90px; */
  margin-left: 500px;
  margin-top: 10px;
}


.movie-list {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}


