  .search-bar{
   
    margin-bottom: 70px;
    margin-left: 1000px;
    display: flex;
    flex-direction: column;
   
  }
  
  .search-bar input {
    padding: 6px;
    font-size: 16px;
    border: 1px solid ;
    margin-left: -120px;
    margin-top: 2px ;
    min-width: 220px;
  }

  .search-button{
    padding: 9px;
    margin-left: -60px;
     border-radius: 10px;
     font-size: 16px;
     background-color: #007bff;
     color: white;
     cursor: pointer;
     margin-top: 6px;
     width: 100%;
     min-width: 120px;
     
    }

    .search-bar button:hover {
      background-color: #0056b3;
    }


    @media (max-width: 991px){
      .search-bar{
        margin-left: 800px;
      }
      
.search-button{
         min-width: 100px;  
        }
    }

    @media (max-width: 601px){

      .search-bar{
        margin-left: 560px;
        
      }
      
.search-button{
         min-width: 100px;  
        }
    }

    
    