h1{
    background-color: black;
    display: flex;
    justify-content: flex-start;
    padding-left: 200px;
    color: aliceblue;
    font-weight: 900;
    padding-top: 30px;
    margin-top: -150px;
    margin-bottom: 175px;
    height: 70px;
    /* max-width: 100%; */
    width: 1319px;

}

@media (max-width: 991px){

    h1{

        padding-left: 100px;
       width: 991px;
        margin-top: -150px;
    }
}


@media (max-width: 601px){
    h1{
      
        padding-left: 40px;
        font-weight: 400;
        padding-top: 20px;
        height: 65px;
        width:705px;
        /* margin-left: 3px; */
    
    }

      
}